:root {
  --fc-small-font-size: .85em;
  --fc-page-bg-color: #fff;
  --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
  --fc-neutral-text-color: #808080;
  --fc-border-color: hsl(var(--border));

  --fc-button-text-color: #fff;
  --fc-button-bg-color: hsl(var(--primary));
  --fc-button-border-color: #2C3E50;
  --fc-button-hover-bg-color: #371e22;
  --fc-button-hover-border-color: #1a252f;
  --fc-button-active-bg-color: #1a252f;
  --fc-button-active-border-color: #151e27;

  --fc-event-bg-color: #ffffff00;
  --fc-event-border-color: #3788d800;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;

  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  --fc-non-business-color: rgba(215, 215, 215, 0.3);
  --fc-bg-event-color: rgb(143, 223, 130);
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: rgba(188, 232, 241, 0.3);
  --fc-today-bg-color: hsl(var(--primary), 10%) !important;
  --fc-now-indicator-color: red;
}

/* daygird */
:root {
  --fc-daygrid-event-dot-width: 8px;
  
}

td{
    direction: rtl;
}
.fc-daygrid-day.fc-day-today{
    /* background-color: hsl(var(--primary), 10%) !important; */
}

.fc-daygrid-day-top{
  flex-direction: row !important;
}
.fc-event-main{
  /* background: #000 ; */
  /* height: 100%; */
}

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events{
  
}

.fc-event fc-event-start fc-event-end fc-event-future fc-daygrid-event fc-daygrid-block-event fc-h-event {}

.fc-event {
  overflow: auto;
  
}