@tailwind base;
@tailwind components;
@tailwind utilities;


.tiled-gallery__gallery {
    max-width: 100%;
    margin: 40px 0px;
}
.tiled-gallery__row{
    display: flex;
    gap: 20px;
}
.tiled-gallery__item {
    /* display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    position: relative; */
    /* background-color: rebeccapurple; */
    /* padding: 10px; */
    
}
.tiled-gallery__item img{
    padding: 2px;
    /* background-color: red; */
    /* max-width: 500px; */
    flex: 1;        /* display: block; */
    /* height: auto;
    margin: 0;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    padding: 0;
    width: 100%; */
}
.content-area a{
    color: green;
}
@layer base {
  /* Mobile First Styles */
  h1 { @apply text-3xl lg:text-5xl font-bold leading-tight mb-6 ; }
  h2 { @apply text-2xl lg:text-3xl font-semibold leading-snug mb-4 ; }
  
  /* Body text: Note the leading-loose for Arabic! */
  p, article { 
    @apply text-lg lg:text-xl leading-loose text-gray-800 font-classic mb-5 ; 
  }

  /* Specific logic for LTR/English snippets within the blog */
  [dir="ltr"] p {
    @apply leading-relaxed font-sans;
  }
}

@media (display-mode: standalone) {
  .install-button {
    display: none;
  }
}